<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="login-body">
    <form class="login-form" method="POST">
        <h1>Login</h1>

        <label for="username">Username:</label>
        <input id="username" name="username" type="text">

        <label for="password">Password:</label>
        <input id="password" name="password" type="password">

        <p class="register">
            New User?
            <a href="/register">Register now</a>
        </p>

        <button type="submit">SUBMIT</button>
    </form>
</body>
</html>