<head>
    <link rel="stylesheet" href="../static/style.css">
</head>

<body>
    <form class="login-form">
        <h1>Register</h1>

    
        <label for="username">Username:</label>
        <input id="username" type="text">

        <label for="password">Password:</label>
        <input id="password" type="password">

        <p class="Login">
            Already Registered?
            <a href="/login">Login now</a>
        </p>

        <button type="submit">Create Account</button>
    </form>
</body>