<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-slate-800 flex justify-center items-center min-h-screen">
    <div class="grid grid-rows-2 gap-5 justify-items-center">
        <input type="text" placeholder="Enter new password" class="bg-slate-50 w-120 h-10 rounded-sm">
        <input type="text" placeholder="Confirm your password" class="bg-slate-50 w-120 h-10 rounded-sm">
    <button class="bg-white w-50 rounded-sm">Done</button>
    </div>
</body>

</html>