<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit OTP</title>
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
</head>

<body class="bg-slate-800 flex justify-center items-center min-h-screen">
    <form action="">
        <div class="grid gap-4 justify-items-center">
            <div class="bg-slate-200 text-center p-4 w-[500px] rounded">
                Enter the OTP we sent to your email id.
            </div>
            <input name="otp" type="text" placeholder="Enter OTP" class="w-[500px] p-3 rounded border bg-slate-50">
            
            <a href="" class="text-blue-500">Resend OTP</a>
            
            <button type="submit" class="bg-slate-50 w-50 h-8 rounded-md cursor-pointer ">Submit OTP</button>
        </div>
        </div>
    </form>
</body>

</html>