<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Management</title>
    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    <h2>User Management System</h2>
    <form method="POST">
        <input type="text" name="name" placeholder="Enter name">
        <input type="text" name="email" placeholder="Enter email id">
        <button type="submit">Submit</button>
    </form>
    <table>
        <tr>
            <th>User id</th>
            <th>Name</th>
            <th>Email id<th>
        </tr>
        {% for user in users %}
            <tr>
                <td>{{user.id}}</td>
                <td>{{user.name}}</td>
                <td>{{user.email}}</td></tr>
        {% endfor %}
    </table>
</body>
</html>